body{
	font-family: fantasy;
	background: url('Guitar.png');
	background-repeat: no-repeat;
	background-size: cover;
}
h1, h3{
	color:gray;
	border-radius: 20px 30px 30px 20px;
	border: 8px solid white;
	border-style: thick;
	text-align: center;
	background-color: black;
}
h1{
	font-size: 30px;
}
p{
	color: white;
	text-align: center;
	background-color: black;
	border-radius: 5px 5px 5px 10px;
	font-size: 20px;
	border: 4px solid white;
}
footer{
	font-family: Courier;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	color: white;
	border: 2px solid gray;
	border-radius: 5px 5px 5px 5px;
	background-color: black;
}
header{
	width: 103%;
}
#menubalk ul{
	display: inline;
	margin-left: 0%;
	padding-left: 1%;
	color: gray;
	list-style-type: none;

}
#menubalk {
	height:30px;
	width: 45%;
	color:gray;
	background: black;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
}

}
#menubalk li{
	display: inline;
	margin-left: 0px;
	text-decoration: none;
	list-style-type: none;
	padding: 50px;
	font-size: 20px;
	opacity: 60%;
}
#menubalk a{
	text-decoration: none;
	color: white;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid white;
	padding: 5px;
}
#menubalk a:hover{
	background: gray;
}
#wrapper{
	margin:0px auto 0px auto;
	min-width: 780px;
	max-width:1000px;
	font-family: fantasy;
}
.dikkerand{
	border: 9px solid white;
	border-radius: 30px 30px 30px 30px;
}
.dikkerand1{
	border-radius: 5px 5px 5px 5px;
	border: 3px solid white;
	position: fixed;
	text-align: center;
	left:28%;
	right:72%;
}
#afbeelding{
	display: inline-block;
	text-align: center;
}
.Afbeelding{
	list-style-type: none;
}
section {
	text-align: center;
}
.h2_biografie{
	border-color: gray;
	border-width: 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid white;
	margin-top: 100px;
	background-color: black;
}
.liedjes{
	margin-top: 80px;
}
.Video{
	text-align: center;
	margin-top: 80px;
}
#Video{
	border: 3px solid gray;
}